<h1>Editar registro del servicio</h1>

<%= render 'form', maintenance_service: @maintenance_service %>

<%= link_to 'Detalles', @maintenance_service, class:'btn btn-warning btn-sm' %> |
<%= link_to 'Tablero de Mantenimiento', maintenance_services_path, class: 'btn btn-info btn-sm' %>
